<h3 class="text-center text-secondary">Employees</h3>

<lib-sliders [rowData]="employees" [colsTemplate]="cols" [headings]="headings">
</lib-sliders>

<ng-template #id let-data="data">
    <span>{{data.id}}</span>
</ng-template>

<ng-template #name let-data="data">
    <span >{{data.name}}</span>
</ng-template>

<ng-template #des let-data="data">
  {{data.designation}}
</ng-template>

<ng-template #exp let-data="data">
  <div class="progress">
    <div 
      aria-valuemax="10">{{data.exp}} years</div>
    </div>
</ng-template>