@import "projects/atomic-design-lib/src/scss/main";
@include Metropolis('Metropolis-Bold', 'Metropolis-Bold');

.select-color-1 {
  background-color: $select-color-1-bg;
  color: $select-border-color-1;
}

.cb--border-color-invalid {
  border-color: $border-color-invalid !important;
}

@mixin padding-config($left-right-size, $top-bottom-size) {
  padding: $left-right-size $top-bottom-size;
}

@mixin margin-config($left-right-size, $top-bottom-size) {
  padding: $left-right-size $top-bottom-size;
}

.select-default-input-container {
    &.cb--container-fit {
      width: fit-content;
    }
    &.cb--container-full {
      width: 100%;
    }
    &.cb--disabled {
      opacity: 0.6;
    }
    .select-input-label {
      padding-bottom: 5px;
      &.cb--select-color-1 {
        font-weight: $font-weight-6;
        font-family: 'Metropolis-Bold';
        color: $select-label-color-1;
      }
      .is-required {  
        color: $border-color-invalid;
      }
      &.label {
       display: none;
      }
    }
    .select-input-custom {
      &.cb--border-color {
        @extend .cb--border-color-invalid;
      }
      &.cb--select-color-1 {
        border-radius: $border-radius-12;
        border: 2px solid  $select-border-color-1;
        background-color: $select-color-1-bg;
      }
     
      .select-input {
        &.cb--disabled {
          opacity: 0.6;
        }
        outline: none;
        border: none;
        width: 100%;
        &.cb--select-color-1 {
          font-family: 'Metropolis-Bold';
          @extend .select-color-1;
        }
      }
    }  
    .select-input-error {
      width: 100%;
      color: $border-color-invalid;
    }
}


@media screen and (max-width: 599.99px) 
{
  .select-default-input-container {
    .select-input-label {
      &.cb--select-color-1 { 
        font-size: $text-10;
      }
    }
    .select-input-custom { 
      &.cb--select-color-1 {
        @include padding-config(8px, 16px);
      }
      .select-input {
        &.cb--select-color-1 { 
          font-size: $text-10;
        }
      }
    }
  }
}

@media screen and (max-width:  959.99px) and (min-width: 600px)
{
  .select-default-input-container {
    .select-input-label {
      &.cb--select-color-1 { 
        font-size: $text-10;
      }
    }
    .select-input-custom { 
      &.cb--select-color-1 {
        @include padding-config(8px, 16px);
      }
      .select-input {
        &.cb--select-color-1 { 
          font-size: $text-10;
        }
      }
    }
  }
}

@media screen and (max-width:  1279.99px) and (min-width: 960px) 
{
  .select-default-input-container {
    .select-input-label {
      &.cb--select-color-1 { 
        font-size: $text-10;
      }
    }
    .select-input-custom { 
      &.cb--select-color-1 {
        @include padding-config(10px, 25px);
      }
      .select-input {
        &.cb--select-color-1 { 
          font-size: $text-12;
        }
      }
    }
  }
}

@media screen and (max-width: 1919.99px) and (min-width:  1280px)
{
  .select-default-input-container {
    .select-input-label {
      &.cb--select-color-1 { 
        font-size: $text-14;
      }
    }
    .select-input-custom { 
      &.cb--select-color-1 {
        @include padding-config(10px, 25px);
      }
      .select-input {
        &.cb--select-color-1 { 
          font-size: $text-14;
        }
      }
    }
  }
}

@media screen and (min-width: 1920px)
{
  .select-default-input-container {
    .select-input-label {
      &.cb--select-color-1 { 
        font-size: $text-14;
      }
    }
    .select-input-custom { 
      &.cb--select-color-1 {
        @include padding-config(10px, 25px);
      }
      .select-input {
        &.cb--select-color-1 { 
          font-size: $text-14;
        }
      }
    }
  }
}