<div class="select-default-input-container"
  [ngStyle]="{
    'margin-bottom': marginBottom ? marginBottom : '0px'
  }"
  [ngClass]="{
    'cb--container-full': customWidth === 'full',
    'cb--container-fit': customWidth === 'fit'
  }">
  <div class="select-input-label"
    [ngClass]="{
      'label': labelIsDisabled,
      'cb--select-color-1': type === 'select-color-1'
    }"
  >
    {{ label }} <span *ngIf="isRequired" class="is-required">*</span>
  </div>
  <div class="select-input-custom"
    [ngClass]="{
      'cb--disabled': isDisabled,
      'cb--border-color': hasErrorMessage,
      'cb--select-color-1': type === 'select-color-1'
    }"
  >
    <select 
      #zipEl 
      class="select-input"
      [ngClass]="{
        'cb--disabled': isDisabled,
        'cb--select-color-1': type === 'select-color-1'
      }"
      [disabled]="isDisabled"
      (change)="changeOption($event.target)"
    >
      <option
        class="option-input"  
        [value]="option.value"
        *ngFor="let option of options"  
        [selected]="selectedOption.value === option.value">
        {{ option.text }}
      </option>
    </select>
  </div>
  <div class="select-input-error"
    *ngIf="hasErrorMessage && errorMessage">
      {{ errorMessage }}
  </div>
</div>