@import "projects/atomic-design-lib/src/scss/main";
@include Metropolis('Metropolis-Bold', 'Metropolis-Bold');

.input-color-1 {
  background-color: $select-color-1-bg;
  color: $select-border-color-1;
}

.cb--border-color-invalid {
  border-color: $border-color-invalid !important;
}

@mixin padding-config($left-right-size, $top-bottom-size) {
  padding: $left-right-size $top-bottom-size;
}

@mixin margin-config($left-right-size, $top-bottom-size) {
  padding: $left-right-size $top-bottom-size;
}


.text-input-customer-container {
  width: 100%;
  .text-input-label {
    padding-bottom: 5px;
    .is-required {
      color: red;
    }
    &.label {
      display: none;
    }
    &.cb--input-color-1 {
      font-weight: $font-weight-6;
      font-family: 'Metropolis-Bold';
      color: $select-label-color-1;
    }
  }

  .text-input-custom {
    @include  hidden-spin-button;
    &.cb--disabled {
      opacity: 0.6;
    }
    &.cb--border-color {
      @extend .cb--border-color-invalid;
    }

    &.cb--input-color-1 {
      border-radius: $border-radius-12;
      border: 2px solid  $select-border-color-1;
      background-color: $select-color-1-bg;
    }
    
    .text-input {
      &.cb--disabled {
        opacity: 0.6;
      }
      width: 100%;
      outline: none;
      border: none;
      &.cb--input-color-1{
        font-family: 'Metropolis-Bold';
        @extend .input-color-1;
      }
    }
  }
  .text-input-error {
    width: 100%;
    color: #FF0000;
  }
}

@media screen and (max-width: 599.99px) 
{
  .text-input-customer-container {
    .text-input-label {
      &.cb--input-color-1 {
        font-size: $text-12;
      }
    }
    .text-input-custom {
      &.cb--input-color-1 {
        @include padding-config(8px, 16px);
      }
      .text-input {
        &.cb--input-color-1{
          font-size: $text-12;
        }
      }
    }
  }
}

@media screen and (max-width:  959.99px) and (min-width: 600px)
{
  .text-input-customer-container {
    .text-input-label {
      &.cb--input-color-1 {
        font-size: $text-12;
      }
    }
    .text-input-custom {
      &.cb--input-color-1 {
        @include padding-config(8px, 16px);
      }
      .text-input {
        &.cb--input-color-1{
          font-size: $text-12;
        }
      }
    }
  }
}

@media screen and (max-width:  1279.99px) and (min-width: 960px) 
{
  .text-input-customer-container {
    .text-input-label {
      &.cb--input-color-1 {
        font-size: $text-12;
      }
    }
    .text-input-custom {
      &.cb--input-color-1 {
        @include padding-config(8px, 16px);
      }
      .text-input {
        &.cb--input-color-1{
          font-size: $text-12;
        }
      }
    }
  }
}

@media screen and (max-width: 1919.99px) and (min-width:  1280px)
{
  .text-input-customer-container {
    .text-input-label {
      &.cb--input-color-1 {
        font-size: $text-14;
      }
    }
    .text-input-custom {
      &.cb--input-color-1 {
        @include padding-config(8px, 16px);
      }
      .text-input {
        &.cb--input-color-1{
          font-size: $text-14;
        }
      }
    }
  }
}

@media screen and (min-width: 1920px)
{
  .text-input-customer-container {
    .text-input-label {
      &.cb--input-color-1 {
        font-size: $text-14;
      }
    }
    .text-input-custom {
      &.cb--input-color-1 {
        @include padding-config(8px, 16px);
      }
      .text-input {
        &.cb--input-color-1{
          font-size: $text-14;
        }
      }
    }
  }
}