<div class="container">
  <div class="row">
    <div class="col-lg-12 elemet-space" style="text-align: center;">
      <h3>Pattern Lab</h3>
    </div>

    <div class="col-lg-12 elemet-space" style="text-align: center;">
      <h5>Inputs</h5>
    </div>
    <div class="col-lg-6 elemet-space">
      isRequired = true<br>
      placeholder="'Ingresa tu número de documento'"<br>
      errorMessage="'Error'"<br>
      label="'Ingrese'" <br>
      type="'input-color-1'"<br>
      isDisabled="true"<br>
      hasErrorMessage="true"<br>
    </div>
    <div class="col-lg-6 elemet-space">
      <lib-text-default-input
      [isRequired]="true" 
      [placeholder]="'Ingresa tu número de documento'"
      [errorMessage]="'Error'" 
      [label]="'Ingrese'" 
      [type]="'input-color-1'"
      [isDisabled]="true"
      [hasErrorMessage]="true"
    >
      </lib-text-default-input>
    </div>
    <div class="col-lg-12 elemet-space" style="text-align: center;">
      <h5>Selects</h5>
    </div>
    <div class="col-lg-6 elemet-space">
      isRequired = false<br>
      labelIsDisabled='false'<br>
      label='Selecciona'<br>
      type='select-color-1'<br>
      customWidth='fit'<br>
      value='Selecciona'<br>
      isDisabled='false'<br>
      errorMessage='Error'<br>
      hasErrorMessage='false'<br>
    </div>
    <div class="col-lg-6 elemet-space">
      <lib-select-default-input
        [isRequired]='false'
        [labelIsDisabled]='false'
        [label]="'Selecciona'" 
        [type]="'select-color-1'"
        [customWidth]="'fit'"
        [value]="'Selecciona'"
        [isDisabled]='false'
        [errorMessage]="'Error'"
        [hasErrorMessage]='false'
      >
      </lib-select-default-input>
    </div>

    <div class="col-lg-6 elemet-space">
      isRequired = 'true'<br>
      labelIsDisabled='false'<br>
      label='Selecciona'<br>
      type='select-color-1'<br>
      customWidth='fit'<br>
      value='Selecciona'<br>
      isDisabled='false'<br>
      errorMessage='Error'<br>
      hasErrorMessage='false'<br>
    </div>
  
    <div class="col-lg-6 elemet-space">
      <lib-select-default-input
        [isRequired]='true'
        [labelIsDisabled]='false'
        [label]="'Selecciona'" 
        [type]="'select-color-1'"
        [customWidth]="'fit'"
        [value]="'Selecciona'"
        [isDisabled]='false'
        [errorMessage]="'Error'"
        [hasErrorMessage]='false'
      >
      </lib-select-default-input>
    </div>

    <div class="col-lg-6 elemet-space">
      isRequired = 'false'<br>
      labelIsDisabled='true'<br>
      label='Selecciona'<br>
      type='select-color-1'<br>
      customWidth='fit'<br>
      value='Selecciona'<br>
      isDisabled='false'<br>
      errorMessage='Error'<br>
      hasErrorMessage='false'<br>
    </div>
  
    <div class="col-lg-6 elemet-space">
      <lib-select-default-input
        [isRequired]='false'
        [labelIsDisabled]='true'
        [label]="'Selecciona'" 
        [type]="'select-color-1'"
        [customWidth]="'fit'"
        [value]="'Selecciona'"
        [isDisabled]='false'
        [errorMessage]="'Error'"
        [hasErrorMessage]='false'
      >
      </lib-select-default-input>
    </div>

    <div class="col-lg-6 elemet-space">
      isRequired = 'false'<br>
      labelIsDisabled='true'<br>
      label='Selecciona'<br>
      type='select-color-1'<br>
      customWidth='full'<br>
      value='Selecciona'<br>
      isDisabled='false'<br>
      errorMessage='Error'<br>
      hasErrorMessage='false'<br>
    </div>
  
    <div class="col-lg-6 elemet-space">
      <lib-select-default-input
        [isRequired]='false'
        [labelIsDisabled]='true'
        [label]="'Selecciona'" 
        [type]="'select-color-1'"
        [customWidth]="'full'"
        [value]="'Selecciona'"
        [isDisabled]='false'
        [errorMessage]="'Error'"
        [hasErrorMessage]='false'
      >
      </lib-select-default-input>
    </div>

    <div class="col-lg-6 elemet-space">
      isRequired = 'false'<br>
      labelIsDisabled='true'<br>
      label='Selecciona'<br>
      type='select-color-1'<br>
      customWidth='full'<br>
      value='Selecciona'<br>
      isDisabled='true'<br>
      errorMessage='Error'<br>
      hasErrorMessage='false'<br>
    </div>
  
    <div class="col-lg-6 elemet-space">
      <lib-select-default-input
        [isRequired]='false'
        [labelIsDisabled]='true'
        [label]="'Selecciona'" 
        [type]="'select-color-1'"
        [customWidth]="'full'"
        [value]="'Selecciona'"
        [isDisabled]='true'
        [errorMessage]="'Error'"
        [hasErrorMessage]='false'
      >
      </lib-select-default-input>
    </div>

    <div class="col-lg-6 elemet-space">
      isRequired = 'false'<br>
      labelIsDisabled='true'<br>
      label='Selecciona'<br>
      type='select-color-1'<br>
      customWidth='full'<br>
      value='Selecciona'<br>
      isDisabled='true'<br>
      errorMessage='Error'<br>
      hasErrorMessage='true'<br>
    </div>
  
    <div class="col-lg-6 elemet-space">
      <lib-select-default-input
        [isRequired]='false'
        [labelIsDisabled]='true'
        [label]="'Selecciona'" 
        [type]="'select-color-1'"
        [customWidth]="'full'"
        [value]="'Selecciona'"
        [isDisabled]='true'
        [errorMessage]="'Error'"
        [hasErrorMessage]='true'
      >
      </lib-select-default-input>
    </div>

    <div class="col-lg-12 elemet-space" style="text-align: center;">
      <h5>Buttons</h5>
    </div>
    <div class="col-lg-6 elemet-space">
      type='select-color-1'<br>
      customWidth='fit'<br>
      isDisabled='false'<br>
    </div>
    <div class="col-lg-6 elemet-space">
      <lib-reset-default-button
        [customWidth]="'fit'"
        [type]="'reset-color-1'"
        [isDisabled]="false"
      >
        Reset
      </lib-reset-default-button>
    </div>
    <div class="col-lg-6 elemet-space">
      type='select-color-1'<br>
      customWidth='full'<br>
      isDisabled='false'<br>
    </div>
    <div class="col-lg-6 elemet-space">
      <lib-reset-default-button
        [customWidth]="'full'"
        [type]="'reset-color-1'"
        [isDisabled]="false"
      >
        Reset
      </lib-reset-default-button>
    </div>
    <div class="col-lg-6 elemet-space">
      type='select-color-1'<br>
      customWidth='full'<br>
      isDisabled='true'<br>
    </div>
    <div class="col-lg-6 elemet-space">
      <lib-reset-default-button
        [customWidth]="'full'"
        [position]="'left'"
        [type]="'reset-color-1'"
        [isDisabled]="true"
      >
        Reset
      </lib-reset-default-button>
    </div>
  </div>
  <form [formGroup]="primaryDefaultForm.form">
    <div class="row">
      <div class="col-lg-12" style="text-align: center;">
        <h4>Reactive Form</h4>
      </div>
      <div class="col-lg-6 elemet-space">
        <lib-text-default-input
        [isRequired]="true" 
        [placeholder]="'Ingresa tu número de documento'"
        [errorMessage]="'Error'" 
        [label]="'Ingrese'" 
        [type]="'input-color-1'"
        [isDisabled]="false"
        formControlName='fullFirst1Name'
        [hasErrorMessage]="false"
      >
        </lib-text-default-input>
      </div>
      <div class="col-lg-6 elemet-space">
        <lib-text-default-input
        [isRequired]="true" 
        [placeholder]="'Ingresa tu número de documento'"
        [errorMessage]="'Error'" 
        [label]="'Ingrese'" 
        [type]="'input-color-1'"
        [isDisabled]="false"
        formControlName='fullFirst2Name'
        [hasErrorMessage]="false"
      >
        </lib-text-default-input>
      </div>
      <div class="col-lg-6 elemet-space">
        <lib-select-default-input
          [isRequired]='false'
          [labelIsDisabled]='true'
          [label]="'Selecciona'" 
          [type]="'select-color-1'"
          [customWidth]="'full'"
          [isDisabled]='false'
          [errorMessage]="'Error'"
          formControlName='fullLast1Name'
          [options]='options'
          [hasErrorMessage]='primaryDefaultForm.fullLast1NameControl.invalid'
        >
        </lib-select-default-input>
      </div>
      <div class="col-lg-6 elemet-space">
        <lib-select-default-input
          [isRequired]='false'
          [labelIsDisabled]='true'
          [label]="'Selecciona'" 
          [type]="'select-color-1'"
          [customWidth]="'full'"
          [isDisabled]='false'
          [errorMessage]="'Error'"
          formControlName='fullLast2Name'
          [options]='options'
          [hasErrorMessage]='primaryDefaultForm.fullLast2NameControl.invalid'
        >
        </lib-select-default-input>
      </div>
      <div class="col-lg-6 elemet-space">
        <lib-reset-default-button
          (click)='reset()'
          [customWidth]="'fit'"
          [type]="'reset-color-1'"
          [isDisabled]="isDisabledGotoFordwardOneButton || !primaryDefaultForm.form.valid"
        >
          Reset
        </lib-reset-default-button>
      </div>
  
      <div class="col-lg-6 elemet-space">
        <lib-reset-default-button
          [customWidth]="'fit'"
          [type]="'reset-color-1'"
          [isDisabled]="false"
        >
          Submit
        </lib-reset-default-button>
      </div>

      <div class="col-lg-6 elemet-space">
        <lib-reset-default-button
          (onclick)='setUpSelect()'
          [customWidth]="'fit'"
          [type]="'reset-color-1'"
          [isDisabled]="false"
        >
          Set up Select
        </lib-reset-default-button>
      </div>

      <div class="col-lg-6 elemet-space">
        <lib-reset-default-button
          (onclick)="goToResumen()"
          [customWidth]="'fit'"
          [type]="'reset-color-1'"
          [isDisabled]="false"
        >
          go to resumen
        </lib-reset-default-button>
      </div>
    </div>
  </form>
</div>