<div class="container">
  <div class="row">
    <div class="col-lg-12 elemet-space" style="text-align: center;">
        <h3>Pattern Lab</h3>
    </div>
     <form [formGroup]="arrayButtonsForms.form">
      <div formArrayName="buttonGroup1" style="display: grid; justify-content: center;">
        <div [formGroupName]="0" class="elemet-space" style="display: flex;">
          <lib-button-default-input
            [text]="'Si'"
            [customValue]="'S'"
            [type]="'reset-color-1'"
            formControlName='buttonConditional1'
            (onclick)='buttonS1($event)'
          >
          </lib-button-default-input>
          <lib-button-default-input
            [text]="'No'"
            [customValue]="'N'"
            [type]="'reset-color-1'"
            formControlName='buttonConditional1'
            (onclick)='buttonS1($event)'
          >
         </lib-button-default-input>
        </div>
        <div style="display: flex;">
          <lib-reset-default-button
            (click)='enable1()'
            [customWidth]="'fit'"
            [type]="'reset-color-1'"
          >
            Enable 1
          </lib-reset-default-button>
          <lib-reset-default-button
            (click)='disable1()'
            [customWidth]="'fit'"
            [type]="'reset-color-1'"
          >
            Disable 1
          </lib-reset-default-button>
         </div>
        <div>
          <div class="select-input-error" 
            *ngIf="(arrayButtonsForms.buttonS1Control.invalid && arrayButtonsForms.buttonS1Control.pristine)
               && errorMessage">
              {{ errorMessage }}
          </div>
        </div>
        <div [formGroupName]="1" class="elemet-space" style="display: flex;">
          <lib-button-default-input
            [text]="'Si'"
            [customValue]="'S'"
            [type]="'reset-color-1'"
            formControlName='buttonConditional1'
            (onclick)='buttonS2($event)'
          >
          </lib-button-default-input>
          <lib-button-default-input
            [text]="'No'"
            [customValue]="'N'"
            [type]="'reset-color-1'"
            formControlName='buttonConditional1'
            (onclick)='buttonS2($event)'
          >
         </lib-button-default-input>
        </div>
         <div style="display: flex;">
          <lib-reset-default-button
            (click)='enable2()'
            [customWidth]="'fit'"
            [type]="'reset-color-1'"
          >
            Enable 2
          </lib-reset-default-button>
          <lib-reset-default-button
            (click)='disable2()'
            [customWidth]="'fit'"
            [type]="'reset-color-1'"
          >
            Disable 2
          </lib-reset-default-button>
         </div>

         <div style="display: flex;">
          <lib-reset-default-button
            (click)='reset()'
            [customWidth]="'fit'"
            [type]="'reset-color-1'"
          >
            Reset
          </lib-reset-default-button>
          <lib-reset-default-button
            (click)='submit()'
            [customWidth]="'fit'"
            [type]="'reset-color-1'"
            [isDisabled]="isDisabledGotoFordwardOneButton || !arrayButtonsForms.form.valid"
          >
            Submit
          </lib-reset-default-button>
         </div>
         <div>
           {{text}}
         </div>
       </div>
     </form>
    </div>
</div>
