<div class="checkbox-input-container">
  <label class="checkbox-input-label">
    <input type="checkbox"
      class="checkbox-input"
      [checked]="checked"
      [disabled]="isDisabled"
      (click)="clickInput($event.target)">
    <span class="check-mark"></span>
  </label>
</div>

