@import "projects/atomic-design-lib/src/scss/main";

$mark-size: 20px;
$label-size: 22px;

.external-size {
  width: $label-size;
  height: $label-size;
}

.checkbox-input-container {
  @extend .external-size;
  .checkbox-input-label {
    @extend .external-size;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .check-mark {
      position: absolute;
      top: 0;
      left: 0;
      height: $mark-size;
      width: $mark-size;
      border: 2px solid $select-border-color-1;
      border-radius: 5px;
      background-color: $white;
    }

    .check-mark:after {
      content: "";
      position: absolute;
      display: none;
      top: 3.5px;
      left: 3px;
      width: 15px;
      height: 7px;
      background: white;
    }

    .checkbox-input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }

    .checkbox-input:checked ~ .check-mark {
      background-color: white;
      border: 2px solid $select-border-color-1;
    }

    .checkbox-input:checked ~ .check-mark:after {
      display: block;
      background: transparent;
      border-bottom: 2px solid $select-border-color-1;
      border-left: 2px solid $select-border-color-1;
      transform: rotate(-52deg);
      top: 2px;
      left: 1px;
    }

    .checkbox-input[disabled]  ~ .check-mark {
      border: 2px solid gray;
    }
  }
}


