@import "projects/atomic-design-lib/src/scss/main";
@include Metropolis('Metropolis-Bold', 'Metropolis-Bold');

.primary-color-1 {
  background-color: $reset-default-button;
  color: $white;
}

.primary-color-1-config {
  background-color: $white;
  color: $reset-default-button;
}

@mixin padding-config($left-right-size, $top-bottom-size) {
  padding: $left-right-size $top-bottom-size;
}

@mixin margin-config($left-right-size, $top-bottom-size) {
  padding: $left-right-size $top-bottom-size;
}

// end - configs
.custom-button-container {
  &.cb--container-fit {
    width: fit-content;
  }
  &.cb--container-full {
    width: 100%;
  }
  &.cb--left {
    justify-content: flex-start;
  }
  &.cb--right {
    justify-content: flex-end;
  }
  &.cb--center {
    justify-content: center;
  }
  .custom-button {
    &.cb--disabled {
      opacity: 0.3;
      pointer-events: none;
    }
    width: 100%;
    align-items: center;
    transition: .1s linear;
    outline: none;
    @include text-no-selectable;

    &.cb--reset-color-1 {
      border: 1px solid $reset-default-button;
      font-weight: $font-weight-4;
      border-radius: $border-radius-12;
      font-family: 'Metropolis-Bold';
      @extend .primary-color-1;
      &:hover {
        @extend .primary-color-1-config;
      }
    }
    &.cb--reset-color-1.cb--outline {
      @extend .primary-color-1-config;
      &:hover {
        @extend .primary-color-1;
      }
    }
  }
}


@media screen and (max-width: 599.99px) 
{
  .custom-button-container { 
    .custom-button {
      &.cb--reset-color-1 { 
        @include padding-config(14px, 120px);
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width:  959.99px) and (min-width: 600px)
{
  .custom-button-container { 
    .custom-button {
      &.cb--reset-color-1 { 
        @include padding-config(14px, 120px);
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width:  1279.99px) and (min-width: 960px) 
{
  .custom-button-container { 
    .custom-button {
      &.cb--reset-color-1 { 
        @include padding-config(14px, 120px);
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 1919.99px) and (min-width:  1280px)
{
  .custom-button-container { 
    .custom-button {
      &.cb--reset-color-1 { 
        @include padding-config(14px, 120px);
        font-size: 16px;
      }
    }
  }
}

@media screen and (min-width: 1920px)
{
  .custom-button-container { 
    .custom-button {
      &.cb--reset-color-1 { 
        @include padding-config(14px, 120px);
        font-size: 16px;
      }
    }
  }
}
