@mixin Metropolis($font-name, $font-path) {
  @font-face {
    font-family: $font-name;
    src: url('#{$font-path}.otf')  format("opentype");
  }
}

@mixin Roboto($font-name, $font-path) {
  @font-face {
    font-family: $font-name;
    src: url('#{$font-path}.ttf')  format("opentype");
  }
}
/*'Metropolis-Bold'*/
/*'Metropolis-BoldItalic'*/
/*'Metropolis-ExtraLight'*/
/*'Metropolis-ExtraLightItalic'*/
/*'Roboto-Bold'*/
/*'Roboto-Black'*/
/*'Roboto-Medium'*/
/*'Roboto-Regular'*/
